---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro - Planetario template.">

    <div class="bg-white">
        <main class="mx-auto w-full max-w-7xl px-6 pb-16 pt-10 sm:pb-24 lg:px-8">

            <div class="mx-auto mt-20 max-w-2xl text-center sm:mt-24">
                <p class="text-base font-semibold leading-8 text-black mt-10">404</p>
                <h1 class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl">This page does not
                    exist</h1>
                <p class="mt-4 text-base leading-7 text-gray-600 sm:mt-6 sm:text-lg sm:leading-8">Sorry, we couldn’t
                    find the page you’re looking for.</p>
            </div>
            <div class="mx-auto mt-16 flow-root max-w-lg sm:mt-20">
                <h2 class="sr-only">Popular pages</h2>

                <div class="mt-10 flex justify-center">
                    <a href="/" class="rounded-md border border-black bg-black px-3.5 py-2.5 text-center text-sm font-nunito text-white shadow-sm hover:bg-white hover:text-black focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black">
                        <span aria-hidden="true">&larr;</span>
                        Back to home
                    </a>
                </div>
            </div>
        </main>

    </div>


</Layout>