---
interface Props {
  title: string;
  body: string;
  href: string;
}

const {href, title, body} = Astro.props;
---

<!--li class="link-card">
  <a href={href}>
    <h2 class="bg-red-200">
      {title}
      <span>&rarr;</span>
    </h2>
    <p>
      {body}
    </p>
  </a>
</li-->

<li class="overflow-hidden rounded-xl border border-gray-200">
  <div class="flex items-center gap-x-4 border-b border-gray-900/5 bg-gray-50 p-6">
    <img src="https://tailwindui.com/img/logos/48x48/tuple.svg" alt="Tuple"
         class="h-12 w-12 flex-none rounded-lg bg-white object-cover ring-1 ring-gray-900/10">
    <div class="text-sm font-medium leading-6 text-gray-900">Tuple</div>
  </div>
  <dl class="-my-3 divide-y divide-gray-100 px-6 py-4 text-sm leading-6">
    <div class="flex justify-between gap-x-4 py-3">
      <dt class="text-gray-500">Last invoice</dt>
      <dd class="text-gray-700">
        <time datetime="2022-12-13">December 13, 2022</time>
      </dd>
    </div>
    <div class="flex justify-between gap-x-4 py-3">
      <dt class="text-gray-500">Amount</dt>
      <dd class="flex items-start gap-x-2">
        <div class="font-medium text-gray-900">$2,000.00</div>
        <div class="rounded-md py-1 px-2 text-xs font-medium ring-1 ring-inset text-red-700 bg-red-50 ring-red-600/10">
          Overdue
        </div>
      </dd>
    </div>
  </dl>
</li>
